/***************
Home Page Styles 
****************/

.home-page-heading {
    color:#f0f0f0cc;
    font-size: larger;
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: 600;

}

.home-page-footing {
    color:#f0f0f0cc;
    font-size: smaller;
}