<div class="home-page-heading">
    <h2>Welcome to Richardson Funeral Home</h2>
    <div class="home-page-footing">
        <p>Where loved souls come to rest</p>
    </div>
</div>

<div>
    <app-carosol></app-carosol>
</div>