<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<matt-toolbar class="bottom-toolbar">  
    <span>
      <a class="adminlink" [routerLink]="['/admin-login']">Adiminstrator Login</a>&nbsp;
      <a href="https://facebook.com" class="fa fa-facebook"></a>&nbsp;
      <a href="https://twitter.com" class="fa fa-twitter"></a>&nbsp;
    </span>
  </matt-toolbar>
