.bottom-toolbar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: none;
    color: white;
    text-align: left;
    padding: 2% 2% 2%; 
}

.adminlink {
    font-family: "Courier New", Courier, monospace;
font-size: 11px;
letter-spacing: -0.2px;
word-spacing: -1.6px;
color: rgb(108, 152, 240);
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
justify-items: right;
}

.adminlink:hover {
    opacity: 0.7;
  }

.fa:hover {
    opacity: 0.7;
  }