<!-- <nav class="navbar navbar-expand-lg" id="nava">
    <a class="navbar-brand" [routerLink]="['/Home']">Richardson Funeral Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/Home']">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/About']">About Us <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  [routerLink]="['/calendar']">Up-Coming Cerimonies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/contact']">Contact Us</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                    data-toggle="dropdown"  (click)='dropDownClick()' aria-haspopup="true" aria-expanded="false">
                    More Stuff
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" [routerLink]="['/Home']">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
    </div>
</nav> -->

<!-- New Nav Bar -->
<div class="topnav" id="nava">
    <a class="nav-links" [routerLink]="['/Home']">Richardson Funeral Home</a>
    <a class="nav-links" [routerLink]="['/About']">About Us </a>
    <a class="nav-links"  [routerLink]="['/calendar']">Up-Coming Cerimonies</a>
    <a class="nav-links" [routerLink]="['/contact']">Contact Us</a>
    <a class="nav-links" href="https://www.richardsonfuneralhomes.com/digital-flowers">Digital Flowers</a>
    <a href="javascript:void(0);" class="icon" (click)='dropDownClick()'><span class='icon-hamburger'>&#9776;</span></a>
  </div>