/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
body {
    margin:0px;
}

/*
for nav bar stuff
*/
/* nav {
    background-color:#1f92f0d7 ;
} */



body {
    background: linear-gradient(to bottom, #1f92f0d7 40%, #f0f0f0cc 100%)fixed;
}

/* @media only screen and (max-width:900px) {
    body {
      background:  linear-gradient(to bottom, #f5e614d7 40%, #000000cc 100%)cross-fade();
    }
  } */



 /* 
body {
    background-image: url("https://www.downloadwallpapers.info/dl/1680x1050//2015/12/10/835092_above-the-clouds_1920x1200_h.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
} */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
