<!-- Carosel 1 -->
<!-- <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="http://oldvillagemountpleasant.com/wp-content/uploads/christian-cross-sun-hands-sky.jpg" class="d-block w-50" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://careerskillet.org/wp-content/uploads/2013/08/iStock_000003171641Small.jpg" class="d-block w-50" alt="...">
          </div>
          <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div> -->

      <!-- Carosel 2 -->
      <!-- <mat-carousel class="slide-show-style" [hideArrows]="false" [orientation]="'ltr'">
          <mat-carousel-slide class="slide-style">
              <div class="slide-style">
            <img class="d-block w-100" src="http://oldvillagemountpleasant.com/wp-content/uploads/christian-cross-sun-hands-sky.jpg" class="d-block w-50" alt="...">
              </div>  
          </mat-carousel-slide>
        <mat-carousel-slide>
          <div class="slide-style">
          <img class="d-block w-100" src="https://careerskillet.org/wp-content/uploads/2013/08/iStock_000003171641Small.jpg" class="d-block w-50" alt="...">
        </div>
        </mat-carousel-slide>
        <mat-carousel-slide class="slide-style">
            <div class="slide-style">
          <img  class="d-block w-100" src="http://oldvillagemountpleasant.com/wp-content/uploads/christian-cross-sun-hands-sky.jpg" class="d-block w-50" alt="...">
            </div>  
        </mat-carousel-slide>
      </mat-carousel> -->

      <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
        <mdb-carousel-item>
          <img class="image-size" src="https://upload.wikimedia.org/wikipedia/commons/a/a4/Anatomy_of_a_Sunset-2.jpg" alt="First slide">
          <p class="paragraph-content"> From Sunrise to Sunset</p>
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="image-size" src="https://miro.medium.com/max/3155/1*SW1negQnGzsUEJlj11id5Q.jpeg" alt="Second slide">
          <p class="paragraph-content"> In style for there last ride</p>
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="image-size" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
          <p class="paragraph-content"> Sending Loved Ones off gracefully</p>
        </mdb-carousel-item>
      </mdb-carousel>
      