/*
Carosel Styles 
*/

.slide-show-style {
    align-items: center;
    text-align: center;
    color: #f0f0f0cc;
    position: relative;
    padding: 0% 30% 30%;
}

.slide-style {
    position: relative;
}

.image-size{
    padding: 20% 20% 10%;
    display: block;
    width: 100%;
    height: 75%;
    align-items: center;
}

.paragraph-content {
    color: white;
    display: block;
    text-align: center;
}