
<mat-card class="mat-card" *ngIf="!newAdmin">
    <mat-card-title> Please Enter Your Login Information</mat-card-title>
    <mat-card-content>
        <form>
            <mat-form-field>
                <input matInput placeholder="Enter Email" [(ngModel)]='email' name='email' required>
 
            </mat-form-field>
            <br><br>
            <mat-form-field>
                <input matInput placeholder="Enter Password" [(ngModel)]='password' name='password' required>
             
            </mat-form-field>
            <br><br>
            <button class="admin-button" (click)="onSubmit()">Login</button>
        </form>
        <br><br>
        <a><p (click)="isNewAdmin()">New Admin? (Click Here)</p></a>
    </mat-card-content>
</mat-card>

<mat-card class="mat-card" *ngIf="newAdmin">
    <mat-card-title> Welcome Please Create Your Account</mat-card-title>
    <mat-card-content>
        <form>
            <mat-form-field>
                <input matInput placeholder="Enter Email" [(ngModel)]='email' name='email' required>
 
            </mat-form-field>
            <br><br>
            <mat-form-field>
                <input matInput placeholder="Enter Password" [(ngModel)]='password' name='password' required>
             
            </mat-form-field>
            <br><br>
            <mat-form-field>
                <input matInput placeholder="Enter First Name" [(ngModel)]='firstName' name='firstName' required>
             
            </mat-form-field>
            <br><br>
            <mat-form-field>
                <input matInput placeholder="Enter Password" [(ngModel)]='lastName' name='lastName' required>
             
            </mat-form-field>
            <br><br>
            <button class="admin-button" (click)="onNewSubmit()">Submit</button>
        </form>
        <a><p (click)="isNewAdmin()">Already Have an Account? (Click Here)</p></a>
    </mat-card-content>
</mat-card>