.mat-card {
    width: 100%;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 15px; /* Added */
    text-align: center;
    background-color: transparent;
    color: #f0f0f0cc;
}

.admin-button {
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:26px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:3px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.admin-button:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.admin-button:active {
	position:relative;
	top:1px;
}